# General
HELP.md

# Build output
target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs
*.log

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Security / Secrets
.env
*.key
*.pem
*.crt
*.jks
*.p12
*.keystore
*.secret

# OS-specific
.DS_Store
Thumbs.db

# Archives / Compressed files
*.zip
*.tar.gz
*.rar
*.7z

# Swap or backup files
*.swp
*.bak
*.tmp

